body {
    background-color: rgba(0, 0, 0, 0.6)!important;
    color: black !important;
    /* background-image: url(../img/purpleBack.png) !important;  */
}


/* Customização da primeira linha da header */

.navbar.custom {
    height: 100px;
    margin: 0 auto;
    background-image: url(../img/purple.jpg);
    width: 100%;
    border: none;
}

a.navbar-brand {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.navbar.custom>navbar-brand {
    margin: auto;
}

ul.nav.navbar-nav.navbar-form {
    margin-top: 20px !important;
}

.titulo {
    color: #f0f0f0 !important;
    font-family: 'Permanent Marker', cursive;
}

.imagemLogo {
    width: 50px;
    margin-top: 20px;
}

.tituloLogo {
    display: block;
    position: relative;
    margin-right: 25px;
}

.linhaHeader {
    margin-top: 15px !important;
}


/* Segunda linha da header (dos icones) */

a.icon-show {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 20px;
    color: #f0f0f0 !important;
}

.iconNav {
    width: 25px;
    margin-left: 25px;
    text-align: center;
}

#botaoGerente {
    background-color: #f0f0f0 !important;
    color: #1c1722 !important;
}


/* Customização Tabela */

.tituloTabela {
    font-size: 20px;
}

.customTabela {
    border: 1px solid black !important;
    border-radius: 15px;
    margin-top: 50px;
}

td {
    font-size: 17px;
}

a.btn {
    font-size: 16px;
}

.pagination>li>a,
.pagination>li>span {
    color: black !important;
    font-size: 16px;
}

/*Estilo do modal*/

.modal-container{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,.5);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    width: 50% !important;
    min-width: 300px !important;
    padding: 40px !important;
    border: 10px solid #0f0b22;
    box-shadow: 0 0 0 10px white !important;
    position: relative !important;
    display: flex !important;
}

/*.fechar{
    position: absolute;
    font-size: 1.2em;
    top: -15px;
    right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #0f0b22 !important;
    color: yellow;
    z-index: 3000!important;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}*/

.modal-container.mostrar{
    display: flex;
}

@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

/* Customização do Footer */

footer {
    background-image: url(../img/purple.jpg) !important;
    font-weight: bold;
    color: #f0f0f0;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}